.root {
  flex-flow: column;
  margin: 0 auto;
  max-width: 480px;
}

.error {
  max-height: 64px;
  overflow: hidden;
  position: sticky;
  top: 64px;
  transition: 150ms;
  z-index: 1;

  &.hidden {
    margin-bottom: 0;
    max-height: 0;
  }
}
