.wrapper {
  display: grid;
  grid-gap: 0.25rem;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  margin: 0.25rem;
}

.tile {
  align-items: center;
  color: hsl(0deg 0% 100% / 75%);
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  min-height: 6rem;

  &:hover {
    color: hsl(0deg 0% 100% / 75%);
  }
}

.icon {
  font-size: calc(min(3em, 10vw));
}
